@{
    ViewBag.Title = "Reporte";
}


@Html.Partial("_HeaderLayout", new ViewDataDictionary { { "NombreFicha", "Reporte Libro Almacen" }, { "Accion", "" }, { "Icono", "icon ion-clipboard" } })
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-12">
                @ViewBag.WebReport.GetHtml()
            </div>
            <div class="col-8">Esta es una prueba</div>
        </div>
    </div>
</div>


<link href="~/Areas/Compras/Requisiciones/Views/rptlibroalmacen/reportStyles.css" rel="stylesheet" />