
<div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home"></i></a>
        <a class="breadcrumb-item" href="#">@ViewBag.NombreFicha</a>
    </nav>
</div>
<div class="br-pagetitle">
    <i class="@ViewBag.Icono"></i>
    <div>
        <h4>@ViewBag.NombreFicha</h4>
        <p class="mg-b-0">@ViewBag.Accion</p>
    </div>
</div>
