@*@model IList<RequisicionesAlmacenBL.Entities.MenuPrincipal>*@
@using RequisicionesAlmacen.Areas.Compras.Catalogos;
@using RequisicionesAlmacen.Areas.RH.Ingreso
@using RequisicionesAlmacen.Areas.Inventarios.Inventarios

@{
    Layout = null;
}

<div id="menu-principal" class="br-sideleft sideleft-scrollbar"></div>
<script src="~/Views/Shared/_MenuPrincipal.js"></script>