<div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Inicio</a>
        <a class="breadcrumb-item" href="#">Inventarios</a>
        <a class="breadcrumb-item" href="#">Catálogos</a>
        <a class="breadcrumb-item active" href="#">@ViewBag.NombreFicha</a>
    </nav>
</div>
<div class="br-pagetitle">
    <i class="@ViewBag.Icono"></i>
    <div>
        <h4>@ViewBag.NombreFicha</h4>
    </div>
</div>